@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@400;700&family=Red+Hat+Display:wght@700&display=swap");

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
section,
article,
small {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  --background-body: rgba(244, 244, 244, 1);
  --background-card: rgb(255, 255, 255);
  --background-icons: rgb(61, 61, 61);
  --text: rgb(20, 20, 20);
  --accent: rgb(65, 88, 208);
  --accent-secondary: rgba(128, 208, 199, 1);
  --mockup-header: rgb(246, 247, 248);

  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 5vw;
  background-color: var(--background-body);
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  color: var(--text);
}

body.dark-theme {
  --text: rgba(244, 244, 244, 0.85);
  --background-body: rgb(40, 40, 40);
  --background-card: rgb(61, 61, 61);
  --background-icons: rgba(244, 244, 244, 0.8);
  --accent: rgba(128, 208, 199, 1);
  --accent-secondary: rgb(65, 88, 208);
  --mockup-header: rgba(123, 123, 124, 0.8);
}

h2,
h3 {
  font-family: "Red Hat Display", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header svg {
  height: 30px;
  width: 30px;
  fill: var(--text);
}

.button__transparent {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

nav {
  display: flex;
  gap: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 500ms ease-out;
}

a:hover,
a:focus {
  color: var(--accent);
  transform: scale(1.3);
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.section-hero > div {
  max-width: 60ch;
}

.section-hero p {
  line-height: 1;
}

h1 {
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-size: 3rem;
  line-height: 1;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__header-projects {
  margin-bottom: -40px;
  z-index: 1;
}

.section-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--background-card);

  margin: 4px;
  padding: 2vw;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mockup {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--mockup-header);
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
  max-height: 380px;
}

.mockup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.8rem;
}

.mockup__header > div {
  display: flex;
  gap: 0.5rem;
}

.mockup svg {
  height: 15px;
  width: 15px;
  fill: #c5c5c5;
}

.circle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: rgb(197, 197, 197);
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.carousel__buttons {
  align-self: center;
}

.button-carousel {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 1px solid var(--accent-secondary);
}

.button-carousel.active {
  background-color: var(--accent-secondary);
}

.light,
.dark {
  display: none;
}

.light-theme .light.show {
  display: block;
}

.dark-theme .dark.show {
  display: block;
}

.show {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gradient-radius {
  background-color: rgb(65, 88, 208);
  background-image: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
  border-radius: 12px;
}

.chat.gradient-radius {
  background: rgb(0, 147, 233);
  background: linear-gradient(
    126deg,
    rgba(0, 147, 233, 1) 0%,
    rgba(128, 208, 199, 1) 50%
  );
}

.plttr.gradient-radius {
  background: rgb(2, 102, 112);
  background: linear-gradient(
    126deg,
    rgba(2, 102, 112, 1) 0%,
    rgba(159, 237, 215, 1) 35%,
    rgba(252, 225, 129, 1) 100%
  );
}

.dark-theme .gradient-radius {
  opacity: 0.8;
}

ul {
  padding: 0;
  list-style: inside;
}

.project__description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__links {
  display: flex;
  justify-content: space-between;
}

.project__links a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

a:hover svg,
a:focus svg {
  fill: var(--accent);
}

.project__links svg {
  height: 15px;
  width: 15px;
  fill: var(--text);
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.about > .about__copy {
  padding: 1rem;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about > .icons {
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.icons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: #3d3d3d;
  padding: 1rem;
  border-radius: 10px;
  color: #f4f4f4;
}

.icons svg {
  width: 40px;
  height: 40px;
}

footer {
  text-align: center;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

footer h3 {
  font-size: 1.6rem;
}

.github {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

.github svg {
  fill: var(--text);
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 700px) {
  body {
    padding: 3vw;
  }

  .section-project,
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0;
  }

  .about > .icons {
    grid-column: 1;
    grid-row: 3;
  }
}
